streamlit==1.55.0
streamlit-folium==0.26.2
altair==5.5.0
matplotlib==3.10.8
folium==0.20.0
numpy==1.26.4
pandas==2.3.3
polars==1.38.1
pyarrow==23.0.1
scikit-learn==1.8.0
catboost==1.2.7
joblib==1.5.2
cartopy==0.23.0
pyproj==3.7.0
pyyaml==6.0.2
plotly==6.0.0